@{
    bool debug = false;
#if DEBUG
    debug = true;
#endif
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HelpMe!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div class="container body-content">
    @RenderBody()
</div>
    
    @if (debug)
    {
        <script src = "/lib/jquery/jquery.js" ></script>
        <script src = "/lib/handlebars/handlebars.js"></script>
        <script src = "/lib/signalr/jquery.signalr.js"></script>
        <script src = "/signalr/hubs" type="text/javascript"></script>
        <script src = "/scripts/tutorModule.js" ></script>
    }
    else
    {
        <script src="~/scripts/tutor.js"></script>
        <script src="/scripts/custom/tutor.js"></script>

    }
    @RenderSection("scripts", required: false)
</body>
</html>